@import "variables";
.pageNews{
  padding: 50px 0;
  img{
    margin-bottom: 10px;
  }
  a{
    color: $black;
    padding: 15px 0;
    &:hover{
      box-shadow: 0 0 10px 0 $black;
    }
    .title{
      font-size: 25px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    .description{
      font-size: 20px;
      padding-bottom: 20px;
    }
  }
}