@import "variables";
.spec{
  padding: 50px 0;
  cursor: pointer;
  .title{
    color: $black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
    &:hover{
      color: $prime;
      p{
        color: $black;
      }
      span{
        color: $black;
      }
    }
    span{
      font-weight: 400;
    }
    ul{
      padding-top: 15px;
      font-weight: 400;
      padding-bottom: 50px;
    }
  }
  .inf{
    display: none;
    p{
      font-size: 20px;
      font-weight: 400;
      padding: 20px 0;
    }
  }
}
.specActive{
  display: block!important;
}