doctype html
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title О факультете
        script
            include ../../assets/wow.js

    body(style='background-color: #ffffff;')
        include ../svg/svg
        include ../template/header
        .pages
            .container
                .page_name О факультете
                a(href='#') Общая информация
                a(href='#') Деканат
                a(href='#') Известные выпускники
                a(href='#') Новости
        include ../template/footer