include ../template/head
include ../template/header
.pages
    .container
        .page_name О факультете
        a(href='#') Общая информация
        a(href='#') Деканат
        a(href='#') Известные выпускники
        a(href='#') Новости
include ../template/footer