include ../template/head
include ../template/header
.pages
    .container
        .page_name Поступление
        a(href='#') Презентация факультета
        a(href='#') Абитуриенту
        a(href='#') План приема
include ../template/footer