include ../template/head
include ../template/header
.pages
    .container
        .page_name Абитуриенту
        a(href='#') Физический факультет БГУ для абитуриента - 2020
        a(href='#') Буклет Физического факультета
include ../template/footer