doctype html
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Абитуриенту
        script
            include ../../assets/wow.js

    body(style='background-color: #ffffff;')
        include ../svg/svg
        include ../template/header
        .pages
            .container
                .page_name Абитуриенту
                a(href='#') Физический факультет БГУ для абитуриента - 2020
                a(href='#') Буклет Физического факультета
        include ../template/footer