include ../template/head
include ../template/header
.listPersonTemplate
    .container
        .listPersonTemplate_title Известные выпускники
        .listPersonTemplate_wrap
            img(src = 'https://physics.bsu.by/media/media/staff/PBK_9875.jpg').col-lg-4.col-md-4.col-sm-12.col-xs-12
            .listPersonTemplate_description
                a(href='https://www.sciencedirect.com/science/article/abs/pii/S0925963521000182#%21') Горбачук Николай Иванович
                .text
                    p Заместитель декана по учебной и методической работе
                    p Кандидат физико-математических наук, доцент
                .text
                    p сл.тел: 8 (017)-209-55-06
                    p Адрес: г.Минск, ул. Бобруйская, 5, к. 315
                    p E-mail: Gorbachuk@bsu.by
        .listPersonTemplate_wrap
            img(src = 'https://physics.bsu.by/media/media/staff/PBK_9875.jpg').col-lg-4.col-md-4.col-sm-12.col-xs-12
            .listPersonTemplate_description
                a(href='https://www.sciencedirect.com/science/article/abs/pii/S0925963521000182#%21') Горбачук Николай Иванович
                .text
                    p Заместитель декана по учебной и методической работе
                    p Кандидат физико-математических наук, доцент
                .text
                    p сл.тел: 8 (017)-209-55-06
                    p Адрес: г.Минск, ул. Бобруйская, 5, к. 315
                    p E-mail: Gorbachuk@bsu.by

include ../template/footer