include ../template/head
include ../template/header
.person_template
    .container
        .person_template_float_wrap.col-lg-12.col-md-12.col-sm-12.col-xs-12
            img(src='https://physics.bsu.by/static/home/assets/images/a7ff21dbdded4230173d99f51814115b.jpg').col-lg-6.col-md-6.col-sm-12.col-xs-12
            .person_template_title Ляшенко Людмила Сергеевна
            .person_template_text
                p
                    span.person_template_bold Занимаемая должность:
                    |
                p
                    span.person_template_bold  Степень, ученое звание:
                    | кандидат физико-математических наук, доцент
                p
                    span.person_template_bold  Контактная информация:
                    | комната к. 29 (физич. корпус)   телефон (375-17) 209-50-67     e-mail lyashenko@bsu.by
                p
                    span.person_template_bold  Краткая биография:
                    | Заместитель декана по учебно-воспитательной работе и социальным вопросам.
                    | Секретарь Совета физического факультета.
                br
                br
                br
                br
                p
                    span.person_template_bold  Читаемые курсы:
                    ul
                        li Общие курсы лекций по дисциплинам "Спектры и строение молекул", "Молекулярная спектроскопия и люминесценция"
                        li Спецкурс и спецлаборатория "Люминесценция"
                        li Спецкурс "Спектроскопия биообъектов"
                p
                    span.person_template_bold  Научные направления исследования::
                    ul
                        li Спектроскопия молекулярных систем и комплексов;
                        li Взаимодействие лазерного излучения с биоструктурами;
                        li Фотоника молекул органических соединений в растворах и биотканях.
                p
                    span.person_template_bold  Научная работа:
                    ul
                        li Спектроскопия молекулярных систем и комплексов;
                        li Взаимодействие лазерного излучения с биоструктурами;
                        li Фотоника молекул органических соединений в растворах и биотканях.
                p
                    span.person_template_bold  Научная работа:
                    ul
                        li
                            a(href='https://scholar.google.com/citations?hl=ru&view_op=list_works&gmla=AJsN-F46oBwn6YhXUqlYmk0WNdyp9guV7FaLG_sneCuqSOv6zL1jxOD_4fFn-Y1-EdP_wRnreTpsKz1dXojN3MmvIxxGA5h3WyPrmJpwihgFabXgwraHo4kydUWbwnErNiG_ZpqX4Z5l&user=ruUMzmwAAAAJ') Scholar Google
                        li Взаимодействие лазерного излучения с биоструктурами;
                        li Фотоника молекул органических соединений в растворах и биотканях.

include ../template/footer