doctype html
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title О факультете
        script
            include ../../assets/wow.js

    body(style='background-color: #ffffff;')
        include ../svg/svg
        include ../template/header
        .person_template
            .container
                .float_wrap
                    img(src='http://www.physics.bsu.by/sites/all/other/info/photo/387.jpg')
                    .title Ляшенко Людмила Сергеевна
                    .text
                        p
                            span.bold Занимаемая должность:
                            | доцент
                        p
                            span.bold Степень, ученое звание:
                            | кандидат физико-математических наук, доцент
                        p
                            span.bold Контактная информация:
                            | комната к. 29 (физич. корпус)   телефон (375-17) 209-50-67     e-mail lyashenko@bsu.by
                        p
                            span.bold Краткая биография:
                            | Заместитель декана по учебно-воспитательной работе и социальным вопросам.
                            | Секретарь Совета физического факультета.
                        br
                        br
                        p
                            span.bold Читаемые курсы:
                            ul
                                li Общие курсы лекций по дисциплинам "Спектры и строение молекул", "Молекулярная спектроскопия и люминесценция"
                                li Спецкурс и спецлаборатория "Люминесценция"
                                li Спецкурс "Спектроскопия биообъектов" http://elib.bsu.by/handle/123456789/148096
                        p
                            span.bold Научные направления исследования::
                            ul
                                li Спектроскопия молекулярных систем и комплексов;
                                li Взаимодействие лазерного излучения с биоструктурами;
                                li Фотоника молекул органических соединений в растворах и биотканях.
                        p
                            span.bold Научная работа:
                            ul
                                li Спектроскопия молекулярных систем и комплексов;
                                li Взаимодействие лазерного излучения с биоструктурами;
                                li Фотоника молекул органических соединений в растворах и биотканях.
                        p
                            span.bold Научная работа:
                            ul
                                li Спектроскопия молекулярных систем и комплексов;
                                li Взаимодействие лазерного излучения с биоструктурами;
                                li Фотоника молекул органических соединений в растворах и биотканях.

        include ../template/footer