include ../template/head
include ../template/header
.publications_template
    .container
        .publications_template_wrap
            img(src='http://www.issc-ras.ru/upload/iblock/a30/20200122image001.jpg').col-lg-2.col-md-2.col-sm-6.col-xs-12
            .publications_template_description
                a(href='https://www.sciencedirect.com/science/article/abs/pii/S0925963521000182#%21') Luminescence of brown CVD diamond: 468 nm luminescence center
                .text A.M. Zaitsev, N.M. Kazuchits, K.S. Moe, J.E. Butler, O.V. Korolik, M.S. Rusetsky, V.N.
                .text Kazuchits // Diamond and Related Materials. – 2021. – Vol. 113. – P. 108255
        .publications_template_wrap
            img(src='http://www.issc-ras.ru/upload/iblock/a30/20200122image001.jpg').col-lg-2.col-md-2.col-sm-6.col-xs-12
            .publications_template_description
                a(href='https://www.sciencedirect.com/science/article/abs/pii/S0925963521000182#%21') Luminescence of brown CVD diamond: 468 nm luminescence center
                .text A.M. Zaitsev, N.M. Kazuchits, K.S. Moe, J.E. Butler, O.V. Korolik, M.S. Rusetsky, V.N.
                .text Kazuchits // Diamond and Related Materials. – 2021. – Vol. 113. – P. 108255
        .publications_template_wrap
            img(src='http://www.issc-ras.ru/upload/iblock/a30/20200122image001.jpg').col-lg-2.col-md-2.col-sm-6.col-xs-12
            .publications_template_description
                a(href='https://www.sciencedirect.com/science/article/abs/pii/S0925963521000182#%21') Luminescence of brown CVD diamond: 468 nm luminescence center
                .text A.M. Zaitsev, N.M. Kazuchits, K.S. Moe, J.E. Butler, O.V. Korolik, M.S. Rusetsky, V.N.
                .text Kazuchits // Diamond and Related Materials. – 2021. – Vol. 113. – P. 108255
include ../template/footer