doctype html
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Специальности
        script
            include ../../assets/wow.js

    body(style='background-color: #ffffff;')
        include ../svg/svg
        include ../template/header
        .spec
            .container
                .page_name Информация о специальностях
                #pageSpec.page_spec
                    .speci.title  Физика (научно-исследовательская деятельность)
                        br
                        span План приёма: 20
                        .inf
                            p Обучение студентов ориентировано на подготовку специалистов для институтов и компаний научной отрасли, в которых организованы исследования физических законов и принципов для последующей разработки и создания на их основе новых технологий и объектов. В процессе обучения акцент делается на изучение фундаментальных законов всех современных областей физики, в том числе космологии и астрофизики. Студенты знакомятся с современными методами исследования, проводят собственные научные экспериментальные и теоретические исследования.
                            .title СРОК ОБУЧЕНИЯ:
                                span  5 лет
                            .title ГДЕ ВОСТРЕБОВАНЫ:
                                ul
                                    li Институт физики имени Б.И. Степанова
                                    li Институт тепло- и массообмена имени А.В. Лыкова
                                    li Объединенный институт прикладной информатики, холдинг "БелОМО"
                                    li НПП "Передовые исследования и технологии"
                                    li Bel Huawei Technologies

                    .speci.title  Физика наноматериалов и нанотехнологий
                        br
                        span План приёма: 20
                        .inf
                            p Подготовка специалистов по данной специальности диктуется интенсивным развитием современных нанотехнологий, методы и подходы в которых существенно отличаются от ранее известных. Студенты изучают современные способы синтеза наноструктур, в том числе лазерные и плазменные технологии, методы их исследования и практического применения. Специалисты являются востребованными в компаниях, занимающихся внедрением таких технологий в медицине (изготовление современных лекарственных и диагностических препаратов), солнечной энергетике (активные энергетические преобразователи), наноэлектронике (разработка нанодатчиков и нанопреобразователей).
                            .title СРОК ОБУЧЕНИЯ:
                                span  5 лет
                            .title ГДЕ ВОСТРЕБОВАНЫ:
                                ul
                                    li ЗАО "Голографическая индустрия"
                                    li ООО "Изовак"
                                    li ЧУП "InSoft Engineering"
                                    li НИУ "Институт ядерных проблем"
                                    li ГО "НПЦ НАН Беларуси по материаловедению"
                    .speci.title  Ядерные физика и технологии
                        br
                        span План приёма: 20
                        .inf
                            p Подготовка специалистов ориентирована на ядерно-энергетическую отрасль, в частности для нужд Белорусской атомной электростанции, а также сопутствующих и обслуживающих компаний. Студентами глубоко изучается устройство и функционирование ядерных реакторов, взаимодействие ионизирующего излучения с веществом, принципы радиационной защиты. Студенты также активно участвуют в исследовательской работе по внедрению новых ядерных технологий на промышленных объектах в виде разрабатываемого современного оборудования, детекторов излучения, контроля состояния облученного вещества. Студенты проходят учебные практики в зарубежных университетах.
                            .title СРОК ОБУЧЕНИЯ:
                                span  5,5 лет.
                            .title ГДЕ ВОСТРЕБОВАНЫ:
                                ul
                                    li РУП "Белорусская АЭС"
                                    li "Госатомнадзор"
                                    li УП "АДАНИ"
                                    li HПУП "АТОМТЕХ"
                                    li РНЦП онкологии и медицинской радиологии имени Александрова
                    .speci.title  Компьютерная физика
                        br
                        span План приёма: 20
                        .inf
                            p Обучение студентов включает в себя сочетание анализа и изучения основных физических процессов и методов их компьютерного моделирования. Студентами глубоко изучаются языки программирования различных уровней, работы операционных систем, методы автоматизации производственных процессов. Обучающиеся решают реальные физические задачи, возникающие во многих производственных процессах, делают прогнозы о целесообразности внедрения технологий в производство. Подготовленные специалисты являются конкурентоспобными на рынке информационных технологий ввиду сочетания большого спектра практических навыков решения задач и высокого уровня владения современными технологиями.
                            .title СРОК ОБУЧЕНИЯ:
                                span  4 года
                            .title ГДЕ ВОСТРЕБОВАНЫ:
                                ul
                                    li Парк высоких технологий
                                    li ИООО EPAM Systems
                                    li Itransition
                                    li СООО "Системы и технологии"
                                    li СП ЗАО "Международный деловой альянс"

                    .speci.title  Производственная деятельность
                        br
                        span План приёма: 20
                        .inf
                            p Подготовка студентов включает в себя основы научно-исследовательской деятельности с прикладной направленностью и упором на внедрение научных разработок в производство. Студенты учатся проводить научные исследования, направленные на дальнейшее практическое использование, а также изучают значимые достижения современной науки и техники в таких актуальных областях как оптика, материаловедение и энергетика.
                            .title СРОК ОБУЧЕНИЯ:
                                span  4 года
                            .title ГДЕ ВОСТРЕБОВАНЫ:
                                ul
                                    li ЗАО "Спектроскопические системы"
                                    li ОАО "Пеленг"
                                    li ОАО "Интеграл"
                                    li ООО "Магия света"
                                    li ОАО "Оптоэлектронные системы"

                    .speci.title  Производственная деятельность - совместный институт БГУ и ДПУ
                        br
                        span План приёма: 20
                        .inf
                            p Студенты обучаются основам научно-исследовательской работы с прикладной направленностью, связанной с внедрением научных разработок в производство, углубленно изучают английский язык и основы китайского языка, проходят практику в белорусско-китайских компаниях, принимают участие в летних и зимних школах на территории Китая и Беларуси. Выпускники получают два диплома ведущих ВУЗов - Белорусского государственного университета и Даляньского политехнического университета.
                            .title СРОК ОБУЧЕНИЯ:
                                span  4 года
                            .title ГДЕ ВОСТРЕБОВАНЫ:
                                ul
                                    li компании Китайско-Белорусского индустриального парка "Великий камень"
                                    li компании Парка высоких технологий
                                    li
                                    li
                                    li

        include ../template/footer
