header.header
    .row.container.middle-lg.middle-xs.middle-sm.middle-md.between-lg.between-md.between-sm.between-xs
        a.header__logo.col-lg-10.col-sm-10.col-xs-10.col-md-10.start-lg(href='#')
            svg.logoff
                use(href='#logo')
                p Физический факультет
        a#nav_menu.header_menu.col-lg-2.col-sm-2.col-xs-2.col-md-2(href='#')
            svg.icon
                use(href='#menu')
            svg.header_active(width='20', height='20')
                use(href='#cross')
    nav.nav
        .container.row
            .position.col-lg-4.col-md-4.col-sm-6.col-xs-6
                p О факультете
                a(href='#') Общая информация
                a(href='#') Деканат
                a(href='#') Известные выпускники
                a(href='#') Новости
            .position.col-lg-4.col-md-4.col-sm-6.col-xs-6
                p Поступление
                a(href="#") Презентация факультета
                a(href="#") Специальности
                a(href="#") План приема
            .position.col-lg-4.col-md-4.col-sm-6.col-xs-6
                p Сотрудничество
            .position.col-lg-4.col-md-4.col-sm-6.col-xs-6
                p Наука
            .position.col-lg-4.col-md-4.col-sm-6.col-xs-6
                p Образование
            .position.col-lg-4.col-md-4.col-sm-6.col-xs-6
                p Контакты
                a(href="#") Деканат
                .header_icon
                    a(href='#')
                        svg.icon.icon_size
                            use(href='#vk')
                    a(href='#')
                        svg.icon.icon_size
                            use(href='#inst')
                    a(href='#').youtube
                        svg.icon
                            use(href='#youtube')
